<form id="js-country-delete-form" action="{{ path('app_country_delete', {id: country.id})}}" method="post" style="display:none;">
      <input type="hidden" name="csrf_token" value="{{csrf_token('country_delete_')}}">
      <input type="hidden" name="_method" value="DELETE">
    </form>