<form id="js-mission-gender-delete-form" action="{{ path('app_mission_gender_delete', {id: mission_gender.id})}}" method="post" style="display:none;">
      <input type="hidden" name="csrf_token" value="{{csrf_token('mission_gender_delete_')}}">
      <input type="hidden" name="_method" value="DELETE">
    </form>