{% extends 'layouts/base.html.twig' %}

{% block title "Add Mission Type " %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <h1 class="mt-4 mb-4 ">Add Mission Type</h1>
         {% include "mission_gender/_form.html.twig" %}
    </div>
  </div>
</div>
  
  
{% endblock body %}