<form id="js-mission-delete-form" action="{{ path('app_mission_delete', {id: mission.id})}}" method="post" style="display:none;">
      <input type="hidden" name="csrf_token" value="{{csrf_token('mission_delete_')}}">
      <input type="hidden" name="_method" value="DELETE">
    </form>