{% extends 'layouts/base.html.twig' %}

{% block title "Edit Mission #"~ mission.id %}

{% block body %}

  <div class="row">
    <div class="col-md-6 mx-auto">
    
      <h1 class="mt-4 mb-4">Edit Mission #{{mission.id}}</h1>
      {{ include('mission/_form.html.twig', { submitButtonText: 'Update Mission'}) }}  
    </div>
  </div>
  
{% endblock body %}