{% extends "layouts/base.html.twig" %}
{% block title 'Targets' %}

{% block body %}
  <div class="container text-center">
   <div class="col-12 mx-auto">
    <h1 class="mt-4 text-center">Our Targets</h1>

    <table class="mt-5 table table-hover text-center">
    <thead>
        <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Infos</th>
        </tr>
    </thead>
    <tbody>
    {% for target in targets %}
        <tr class="table-primary">
        <td>{{target.firstName}}</td>
        <td>{{target.lastName}}</td>
        <td><a href="{{ path('app_target_show', {id: target.id})}}"<i class="btn btn-dark fa-solid fa-plus rounded"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
       
    </table>
      <a href="{{ path('app_target_create')}}" class="btn rounded btn-info">Add Contact</a></td>
   </div>
  </div>
{% endblock %}