<form id="js-hideout-delete-form" action="{{ path('app_hideout_delete', {id: hideout.id})}}" method="post" style="display:none;">
      <input type="hidden" name="csrf_token" value="{{csrf_token('hideout_delete_')}}">
      <input type="hidden" name="_method" value="DELETE">
    </form>